@import "~bootstrap/scss/bootstrap";
.hrStyle{
    display: block; height: 1px;
    border: 0; border-top: 4px solid black;
    margin: 1em 0; padding: 0; 
}

.hrStyleWhite{ 
    color:white;
    background-color: white;
    border: 0; border-top: 4px solid white;
    margin: 1em 0; padding: 0; 
}
.buttonShowHide{
    background: none;
    border: none;
    color: white;

}

.margTopQsn{
    margin-top: -270px;
}

.margTopProduits{
    height: 500px;
    margin-top: -315px;
}

.h-500px{
    height: 500px;
}

.h-400px{
    height: 400px;
}

.h-450px{
    height: 450px;
}
.h-200px{
    height: 200px;
}

.mt-4 {
    margin-top:70px !important;
}

.mt-5 {
    margin-top:100px !important;
}

.borderlb{
    border:solid #6c757d 30px;
    border-right-width:0;
    border-top-width: 0;
    margin-left: -30px;
    margin-bottom:-30px;  
}

.w-34{
    width:35%;
}
.z-indextec{
    position:relative;
    z-index: 1;
    
}

.borderrt{
    border:solid #6c757d 30px;
    border-left-width:0;
    border-bottom-width: 0;
    margin-right: -30px;
    margin-top:-30px;
}
.marginTopHistoireDesign{
    margin-top: -400px;
}
.borderBottomLeftTechno{
    border-bottom:solid 25px ;
    border-left:solid 35px ;
    border-image: url('/img/border.jpeg') 30;
}
.margintopnorme{
    padding-top:50 px;
}

.padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.borderTopRightTechno{
    border-top:solid 25px ;
    border-right:solid 25px ;
    border-image: url('/img/border.jpeg') 30;
}
.positionRelative{
    position:relative;
}
.marginTopCarteProduction{
    margin-top : -65px;
}
.h-100px{
    height: 100px;
}
.bouttonStyle{

    width: 120px !important;
}
.marginTopFiliale{
    margin-top:-215px;
    margin-right : -25 px important !important;
}

.marginTopFiliale2{
    margin-top:-170px;
    margin-left: 580px;
    margin-right: 60px;

}

.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 100%;
    margin: 0 20px;
}
.h-900px{
    height: 900px;
}

.h-250px{
    height: 250px;
}
.marginTopImage{
    margin-top:-70px ;
}

.h-100px{
    height: 100px !important;
}

.h-800px{
    height: 800px;
}


.margintopSuiteHistoire{
    margin-top : -160px;
}
.marginTopTechno{
    margin-top : -150px;
}

.marginTopTechnoSechage{
margin-top : -85px
}

.borderBottomLeftHistoire{
    border-image: url('/img/border.jpeg') 30;
    border-bottom:solid 25px;
    border-left:solid 25px;
}

.borderTopLeftNorme{
    border-image: url('/img/border.jpeg') 30;
    border-top:solid 25px ;
    border-left:solid 25px ;
}

.marginTopQCN2{
    margin-top: -270px;
}

.h-200px{
    height: 200px;
}

.h-300px{
    height: 300px;
}
.mlfoot{
    margin-left: 26%;
}

.marginTopTrait{
    margin-top : -283px;
}

.textOnBloc{
font-size:18px !important;
}

.marginTopTexte{
    margin-top : -288px !important;
}

.marginTopProduit{
    margin-top:-323px;
}

.marginTopQCN{
    margin-top:-250px;
    z-index: 1;
    position:relative;
}

.marginTopQCNBandeau{
    margin-top:-250px;
    z-index: 0;
}

.boxShadowLeft{
    box-shadow: -5px 0 5px -5px #333;
}

.boxShadowBottom{
    box-shadow: 0 5px 5px -5px #333;
}

.logoDisplay{
    display:true;
}
.centerform{
    width: 61%;
padding-left: 26vw;
}

.h-270{
    height: 270px;
}

.contentDisplay{
    display:none;
}

.img {
    height: 800px;
    width: 800px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration:3s;
    animation-duration: 3;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    100% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    100% {
    opacity: 1;
    }
    }  


.img-container {
display: flex;
justify-content: center;
background-color: #FFFBDE;
}

.marginfooter{
margin-top:130px;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
    }
    
    .map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .containerimage {
        position: relative;
      }
      
      .toprightimagetxt {
        position: absolute;
        bottom: 45%;
        right : 5%;
        
      }

      .toprightimagetxtborder{
        position: absolute;
        bottom: 50%;
        right : 10%;
        font-size: 18px;
        background-color:rgba(0,0,0,0.5);
        border: 20px;
        padding:1%;
      }
      .topleftimagetxt{
        position: absolute;
        bottom: 50%;
        left : 10%;
        font-size: 18px;
        background-color:rgba(0,0,0,0.5);
        

        .fondecran {
            /* Fixe l'image en haut à gauche de la page */
            position: fixed; 
            top: 0; 
            left: 0; 
            /* Préserve le ratio de l'image */
            min-width: 100%;
            min-height: 100%;
           }
      }
      .topleftimagetxtnoborder{
        position: absolute;
        bottom: 50%;
        left : 10%;
        font-size: 18px;
      }
      .titrePage{
          font-size: 5vw !important;
      }
      .pdright{
        padding-right: 22vw;
      }
      .imageTop { 
        width: 100%;
        height: auto;
        opacity: 1;
      }
.logonav{
    width: 100%;
    height: auto;
}
.test2{
    width: 60px;
}
.displaynone2{
    display: none !important;
}
.pdright{
    padding-right: 22vw;
  }
.paddtophumi{
    padding-top: 2VW;
}
.paddlrtension{
    padding-left:27vw ;
    padding-right:27vw ;
}


@media (max-width: 990px) { 
    .marfoot{
        margin-top:500px !important;
    }
    .paddlrtension{
        padding-left:0vw ;
        padding-right:0vw ;
    }
    
    .widthmediaqueries{
        width:100% !important;
    }
    .paddtophumi{
        padding-top: 0VW;
    }
    .paddingformleft{
        padding-left: 10vw;
    }
    .paddtopform{
        padding-top:2vw;
        padding-bottom: 2VW;
    }
    .centerform{
        width: 100%;
        padding-left: 0;
    }
    .margTopQsn{
        margin-top:0px;
    }
    .centrermedia{
        text-align: center !important;
        align-items: center !important;
        justify-content:center !important
    }
    .tailleimageqsn{
        width: 40% !important;
    }
    .marginmediaimageqsn{
        padding-bottom: 30px !important;
    }
    .WIDTH100{
        width:100% !important
    }
    .borderlb{
        border:none;
        border-right-width:0;
        border-top-width: 0;
        margin-left: 0px;
        margin-bottom:0px;
    }
    .borderrt{
        border:none;
        border-left-width:0;
        border-bottom-width: 0;
        margin-right: 0px;
        margin-top:0px;
    }
    .w-34{
        width: 104% !important;
    }

    .marginTopProduit{
        margin-top:0px;
    }
    .nobg{
        background: none !important;
    }
    .noheight{
        height: 0px !important;
    }
    .bgsecondarytoblack{
        background-color:#212529 !important;
    }
    .paddingproduitacceuil{
        padding-top:30px;
    }
    .borderBottomLeftHistoire{
        border-bottom:none;
        border-left:none;
    }
    
    .borderTopLeftNorme{
        border-top:none;
        border-left:none;
    }

    .queriesMarginNorme{
        margin-top: 50px !important;
    }

    .margTopQsn{
        margin-top: 50px !important;
    }
    .borderTopRightTechno{
        border:none;
    }
    .borderTopRightTechno{
        border:none;
    }
    .borderBottomLeftTechno{
        border:none;
        
    }
    .margintopnorme {
        margin-top:0px;
    }
    .marginfooter{
        margin-top:580px ;
    }
    .mediacarte{
        margin-top: 0px !important;
    }
    .mediamaintenance{
        margin-top:-150px !important;
        margin-left:0px !important;
        margin-right: 0px !important;
    
    }
    .marginmediamaintenance{
        margin-bottom:30px;

        height: 550px;
    }
    .pdright{
        padding-right: 0vw;
      }
    .marginbotmediaengag{
        margin-bottom: 50px;
    }
 }







 @media (max-width: 750px) {
 .cartemediafiliale{
    width: 80%;
 }
}







 @media (max-width: 528px) {
    .marginfooter{
        margin-top:680px ;
    }
 }

 @media (max-width: 461px) {
    .marginfooter{
        margin-top:730px ;
    }
 }

 @media (max-width: 439px) {
    .marginfooter{
        margin-top:760px ;
    }
 }

 @media (max-width: 432px) {
    .marginfooter{
        margin-top:800px ;
    }
 }

 @media (max-width: 417px) {
    .marginfooter{
        margin-top:900px ;
    }
 }

 @media (max-width: 387px) {
    .marginfooter{
        margin-top:950px ;
    }
 }

 @media (max-width: 365px) {
    .marginfooter{
        margin-top:990px ;
    }
 }

 @media (max-width: 427px) { 
     .media632{
         height: 632px !important;
     }
     .mediamargin{
         margin-top:-435px;
     }


 }

 

 @media (max-width: 880px) { 
     .hightmediamaint{
         height: 590px;
     }
    }

    @media (max-width: 808px) { 
        .hightmediamaint{
            height: 690px;
        }
       }

       @media (max-width: 725px) { 
        .mediafooth{
            height: 500px !important;
            
        }
        .mlfoot{
            margin-left: 27%;
        }
        .W-100percent{
            width: 100%;
        }
        .displaynone{
            display: none;
        }
        .displaynone2{
            display:flex !important;
        }
       }

       @media (max-width: 690px) { 
        .hightmediamaint{
            height: 781px;
        }
        .marfoot{
            margin-top:530px !important;
        }
       }

       @media (max-width: 608px) { 
        .hightmediamaint{
            height: 850px;
        }
       }
       @media (max-width: 551px) { 

        .marfoot{
            margin-top:580px !important
        }
       }
       @media (max-width: 509px) { 

        .marfoot{
            margin-top:640px !important
        }
       }

       @media (max-width: 439px) { 

        .marfoot{
            margin-top:750px !important
        }
       }
       @media (max-width: 419px) { 

        .marfoot{
            margin-top:830px !important
        }
       }
       @media (max-width: 369px) { 

        .marfoot{
            margin-top:930px !important
        }
       }
       @media (max-width: 359px) { 

        .marfoot{
            margin-top:990px !important
        }
       }
       @media (max-width: 339px) { 

        .marfoot{
            margin-top:1070px !important
        }
       }
       @media (max-width: 334px) { 

        .marfoot{
            margin-top:1150px !important
        }
       }
       @media (max-width: 540px) { 
        .hightmediamaint{
            height: 920px;
        }
       }

       @media (max-width: 512px) { 
        .hightmediamaint{
            height: 960px;
        }
       }

       @media (max-width: 491px) { 
        .hightmediamaint{
            height: 1000px;
        }
       }
       @media (max-width: 485px) { 
        .hightmediamaint{
            height: 1100px;
        }
       }

       @media (max-width: 428px) { 
        .hightmediamaint{
            height: 1170px;
        }
       }

       @media (max-width: 420px) { 
        .hightmediamaint{
            height: 1220px;
        }
       }

       @media (max-width: 400px) { 
        .hightmediamaint{
            height: 1260px;
        }
       }
       @media (max-width: 386px) { 
        .hightmediamaint{
            height: 1300px;
        }
       }

       @media (max-width: 374px) { 
        .hightmediamaint{
            height: 1340px;
        }
       }